body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #F3F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock-app {
    background: white;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

h1 {
    margin-top: 0;
    color: #111827;
}

.clock {
    font-size: 42px;
    font-weight: bold;
    color: #3B82F6;
    margin: 15px 0;
}

.date {
    color: #6B7280;
    margin-bottom: 20px;
}

.alarm-box {
    background: #F9FAFB;
    padding: 15px;
    border-radius: 14px;
}

.alarm-box h2 {
    margin-top: 0;
    font-size: 18px;
}

.alarm-box input {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
}

.alarm-box button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #3B82F6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.alarm-box button:hover {
    background: #2563EB;
}

.alarm-status {
    margin-top: 15px;
    color: #10B981;
    font-weight: bold;
}

.stop {
    margin-top: 15px;
    background: #EF4444;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.stop:hover {
    background: #DC2626;
}
