* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #ecedf1, #edeaf0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.balance-box {
    background: #67b5d7;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.summary div {
    width: 48%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.income {
    background: #89d3a9;
}

.expense {
    background: #e5aba2;
}

form {
    margin: 10px 0;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #929bc2;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background: #ccceda;
}

#list {
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
}

#list li {
    background: #aec4c5;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

li.plus {
    border-left: 5px solid #6ca586;
}

li.minus {
    border-left: 5px solid #c78a7e;
}

.delete-btn {
    color: rgb(228, 71, 71);
    cursor: pointer;
}
