body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #F8FAFC;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #0F172A;
}

h2 {
    color: #0F172A;
    margin-top: 30px;
}

.form-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    font-size: 15px;
}

button {
    background: #14B8A6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0D9488;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background: #0F172A;
    color: white;
    padding: 12px;
}

table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #E2E8F0;
}

.delete-btn {
    background: #EF4444;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background: #DC2626;
}
