body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #F1F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.planner {
    width: 380px;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

h1 {
    text-align: center;
    color: #4F46E5;
}

.task-input {
    display: flex;
    gap: 8px;
    margin: 20px 0;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
}

.task-input button {
    background: #10B981;
    border: none;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
}

.task-input button:hover {
    background: #059669;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #F8FAFC;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-done {
    text-decoration: line-through;
    color: gray;
}

.actions button {
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.done {
    background: #4F46E5;
    color: white;
}

.delete {
    background: #EF4444;
    color: white;
}
