* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(to right, #9eacec, #d8c0f0);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Box */
.login-box, .todo-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.login-box h2, .todo-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #c2caed;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Todo */
.todo-box {
  display: none;
  position: relative;
}

.logout {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ec8992;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.add-task {
  display: flex;
  margin-bottom: 15px;
}

.add-task input {
  flex: 1;
  padding: 8px;
}

.add-task button {
  padding: 8px 15px;
  border: none;
  background: #9fc1eb;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  background: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

li button {
  background: #ef476f;
  border: none;
  color: white;
  padding: 3px 8px;
  cursor: pointer;
}
